{% extends 'base.html' %}
{% block title %}Add new route{% endblock %}
{% block content %}
<h1>Add new route</h1>


<div class="row">
    <div class="col-md-4">
        <form action="{% url 'save_routes' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% include 'form.html' with button='Save' %}
{% endblock %}