{% extends 'base.html' %}
{% block title %}List of trains{% endblock %}
{% block content %}
<h1>List of trains</h1>
<div class="row">
    <div class="col-md-8 mx-auto my-2">
        <table class = "table table-success table-striped">
            <tr>
                <th>Number</th>
                <th>From</th>
                <th>To</th>
                <th>Time in travel</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {% for object in page_obj %}
            <tr>
                <td>
                    <a href="{% url 'trains:detail' pk=object.pk %}">{{object.name}}</a>
                </td>
                <td>{{object.from_city}}</td>
                <td>{{object.to_city}}</td>
                <td>{{object.travel_time}}</td>
                <td>
                    <a href="{% url 'trains:update' pk=object.pk %}">
                    <button type="submit" class="btn btn-primary">Update</button>
                </a>
                </td>
                <td><a href="{% url 'trains:delete' pk=object.pk %}">
                    <button type="submit" class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
            <a class='page-link' href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

    </li>
      {% for  page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{  page }}">{{ page }}</a>
        </li>
      {% endfor %}
    <li class="page-item">
        {% if page_obj.has_next %}
            <a class='page-link' href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </li>
  </ul>
</nav>
{% endblock %}
<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->
